body{
  font-family: "Montserrat";
}
/* Video */
video#bgVideo{
  position: fixed; /* Play the video in full screen mode */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  display: flex;
  z-index: -1; /* Put the video behind all other elements*/
}
/* Headings */
h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.2rem;
  line-height:1.5;
  color: #fff;
}
h2{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
}
p{
  color:#8f8f8f;
}
/* Title */
#title{
  background-color:#55382c;
  color: #fff;
}
.container-fluid{
  padding:0 5%;    /*STACKING - 7% */
}

/* Navigation Bar */
.nav-item{
  padding: 0 18px;
 
}

.nav-link{
  font-size:1.2rem;
  font-weight: thin;
}

/* Main Heading  Animation */
.patterns {
  height: 100vh;
}


svg text {
  padding-top: 1%;
  font-family: Lora;
 
  letter-spacing: 62.5%;
  stroke: #ffa5d8;
  font-size: 625%;
  font-weight: 700;
  stroke-width: 1;
 
  animation: textAnimate 5s infinite alternate;
  
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  10%;
    fill:hsl(189, 68%, 75%)

  }
  
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%,0%)
  }
  
}

/* Download buttons */
.download-button{
  margin:5% 3% 5% 0;
}



/* Features Section */
#features{
  padding:7% 15%;


}
.features-icon-color{
  color:#ac7f64;
  margin-bottom:1rem;
 
}
.features-icon-color:hover{
  color:#55382c;
 

}
.features-para{
  color:#ffff;
}
.features-box{
  text-align:center;
  padding:5%;
}


/* Testimonials Section */
#testimonials{

  text-align: center;
  background-color: #55382c;
  color:#fff;
 
 
}
.testimonials-image{
  width:30%;
  border-radius: 100%;
  margin:10px;
}
.carousel-item{
    padding:7% 15%;
}


/* CTA Section */

#cta{
  /* background-color: #fff; */
  padding:7% 15%;
  margin: auto;
  text-align: center;

  color: #2f1912;

}
.cta-heading{
  font-size: 3.3rem;
  line-height: 1.5;
}


/* Footer section */
#footer{
  padding:3% 15%;
  text-align: center;
  background-color: #55382c;

 

  /* backface-visibility: visible; */
}
.footer-icon{
  margin:1.8%;
  margin-bottom: 4%;
}



.container-padding50 {
  padding: 80px 0px 0px 30px;
}

.container-textinput {
  width: 70%;
  display: inline-block;
  padding: 16px;
  font-size: 20px;
  font-family: "Montserrat";
}

.container-button {
  width: 20%;
  display: inline-block;
  padding: 16px;
  background-color: #55382c;
  color: white;
  font-size: 20px;
  font-family: Montserrat;

  border: 1px solid #55382c;
  border-radius: 5px;
}

.container-image {
  width: 30%;
  display: block;
  float: left;
  margin-right: 3%;
}

.logo{
  padding:2% 0 0 0;
  width:15%;
  height:15%;
}
